<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhujun.mapper.ManageUserMapper">
    <select id="queryManaage" parameterType="com.zhujun.pojo.BackendUser" resultType="com.zhujun.pojo.BackendUser">
        select backend_user.id,userName,userPassword,valueName from backend_user,data_dictionary
        where backend_user.userType=data_dictionary.valueId
        <if test="userCode!=null and userPassword!=null">
            and userCode=#{userCode} and userPassword=#{userPassword}
        </if>
    </select>
</mapper>
